.menu-item {
    width: 100%;
    height: 44px;
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #000000;
}
.menu a:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.menu-item .menu-item-icon {
    width: 54px;
    height: 44px;
    background-image: url('../contents/images/iconMenu.png');
    background-repeat: no-repeat;
    filter: invert(60%);
    align-self: center;
}

.menu-item .menu-item-text {
    width: calc(100% - 54px);
    line-height: 44px;
}

.edoc-icon {
    background-position: 13px 8px;
}

.doc-icon {
    background-position: 13px -447px;
}

.chart-icon {
    background-position: 13px -71px;
}

.cone-icon {
    background-position: 13px -184px;
}

.group-icon {
    background-position: 13px -30px;
}

.setting-icon {
    background-position: 13px -224px;
}
